header{

    display: block;
}

.logo {

    width: 45%;
}

.navbar-nav{

    width: 60%;
    justify-content: space-around;
}

.nav-link{

    &:hover{

        font-weight: 600;
        color: rgb(0, 0, 0);
    }
}

.nav-cart-user{

    display: none;
}

@media (max-width: 576px){

    .logo{

        width: 35%;
    }

    .navbar-brand{

        width: 70%;
    }
}

.user-cart{

    width: 10%;
    letter-spacing: 20px;
}


@media (max-width: 992px){

    .user-cart{

        display: none;
    }

    .nav-cart-user{

        display: inline;
    }

    .log-in{

        border-top: solid;
        border-width: 1px;
        border-color: rgb(206, 206, 206);
    }
}
