@import 'variables';

* {
    margin: 0;
    padding: 0;
}

@import 'header';

/*----------------------------------------------------------------------------------------------------------------*/
/*GENERAL*/

body {

    background: $backgroundcolor
}

.breadcrumbs{

    padding-top: 10px;
    padding-left: 20px;

    .crumb{

        font-size: small;
        text-decoration: none;
        color: rgb(63, 63, 63);

        &:hover{

            color: black;
        }
    }
}

@media (max-width: 576px){

    .breadcrumbs{

        display: none;
    }
}

/*----------------------------------------------------------------------------------------------------------------*/
/*INDEX*/

.container {

    margin-top: 3%;
}

#carouselExampleFade {

    display: none;
}

@media (max-width: 576px) {

    #carouselExampleFade {

        display: flex;
    }

    #carouselExampleIndicators {

        display: none;
    }
}


.img {

    opacity: 0.4;

    &:hover {

        opacity: 1;
    }
}

/*----------------------------------------------------------------------------------------------------------------*/
/*PRODUCTS*/

.headings {

    .title {

        @include center-w400;
        font-family: 'Montserrat', sans-serif;
        font-size: xx-large;
        margin-top: 5%;
        color: rgb(0, 0, 0);
        transform: scale(0.84);
        animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);

        @keyframes scale {
            100% {
                transform: scale(1);
            }
        }
    }

    .subtitle-one {

        @extend .title;
        font-size: medium;
        font-weight: 200;
        margin-top: 1%;
        margin-bottom: 2%;
        color: rgb(37, 37, 37);
    }
}

.wrapper {

    margin-top: 30px;
}

.weight {

    margin-top: -65px;
    transition: all 0.5s;

    small {

        color: #b9b9b9;
    }
}

.buttons {

    padding: 10px;
    background-color: $backgroundcolor;
    border-radius: 4px;
    position: relative;
    margin-top: 7px;
    opacity: 0;
    transition: all 0.8s;
}

.btn {

    background-color: rgb(25, 25, 25);
    border: none;

    &:hover {

        background-color: rgb(109, 178, 189);
    }

    &:focus {

        background-color: rgb(52, 143, 146);
    }
}

.cart {

    position: relative;
    height: 48px !important;
    width: 50px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 11px;
    border-radius: 5px;
    font-size: 14px;
    transition: 1s ease-in-out;
    overflow: hidden;
}

.cart-button {

    height: 48px;

    &:focus{

        box-shadow: none;
    }
}

.row {

    justify-content: center;
    margin-top: 30px;
}

.md {

    width: 20px;
    height: 20px;
}

.card {

    max-width: 540px;
    border: 1px solid #eee;
    cursor: pointer;

    &:hover {

        transform: scale(1.04);
        z-index: 2;
        overflow: hidden;
    }
}

.card:hover .buttons {

    opacity: 1;
}

.card:hover .weight {

    margin-top: 10px;
}

/*----------------------------------------------------------------------------------------------------------------*/
/*ABOUT US*/

.card {

    margin: 1%;
}

.img-fluid {

    border-radius: 3%;
    margin-bottom: 15%;
}

@media (max-width: 576px) {

    .col-md-4 {

        text-align: center;
    }

    .img-fluid {

        border-radius: 2%;
    }

    .card-body {

        text-align: center;
    }
}

/*----------------------------------------------------------------------------------------------------------------*/
/*FAQ*/

.subtitle {

    @include center-w400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    padding-top: 4%;
    padding-bottom: 4%;
}

.linksFAQ {

    text-decoration: none;
}

.accordion-button {

    font-weight: 500;

    &:focus {

        background-color: white;
        border-color: white;
        box-shadow: none;
        color: #24292E;
    }
}

.accordion-body {

    font-weight: 200;
}

/*----------------------------------------------------------------------------------------------------------------*/
/*CONTACT*/

.form {

    display: flex;
    flex-direction: column;
    align-items: center;

    .display {

        width: 60%;
    }
}

.form-control {

    font-weight: 200;
}

/*----------------------------------------------------------------------------------------------------------------*/
/*FOOTER*/

@import 'footer'