* {
  margin: 0;
  padding: 0;
}

/*----------------------------------------------------------------------------------------------------------------*/
/*HEADER-NAV*/
.navbar .nav-item:not(:last-child) {
  margin-right: 35px;
}

.logo {
  width: 45%;
}

/*----------------------------------------------------------------------------------------------------------------*/
/*PRODUCTS*/
body {
  background: rgb(255, 255, 255);
}

.wrapper {
  margin-top: 30px;
}

.card {
  border: 1px solid #eee;
  cursor: pointer;
}

.weight {
  margin-top: -65px;
  transition: all 0.5s;
}

.weight small {
  color: #b9b9b9;
}

.buttons {
  padding: 10px;
  background-color: rgba(214, 212, 212, 0.3098039216);
  border-radius: 4px;
  position: relative;
  margin-top: 7px;
  opacity: 0;
  transition: all 0.8s;
}

.btn {
  background-color: rgb(25, 25, 25);
  border: none;
}

.btn:hover {
  background-color: rgb(109, 178, 189);
}

.btn:focus {
  background-color: rgb(52, 143, 146);
}

.dot {
  height: 14px;
  width: 14px;
  background-color: rgb(52, 143, 146);
  border-radius: 50%;
  position: absolute;
  left: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  color: #fff;
  opacity: 0;
}

.cart-button {
  height: 48px;
}

.cart-button:focus {
  box-shadow: none;
}

.cart {
  position: relative;
  height: 48px !important;
  width: 50px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 11px;
  border-radius: 5px;
  font-size: 14px;
  transition: 1s ease-in-out;
  overflow: hidden;
}

.cart-button.clicked span.dot {
  -webkit-animation: item 0.3s ease-in forwards;
          animation: item 0.3s ease-in forwards;
}

@-webkit-keyframes item {
  0% {
    opacity: 1;
    top: 30%;
    left: 30%;
  }
  25% {
    opacity: 1;
    left: 26%;
    top: 0%;
  }
  50% {
    opacity: 1;
    left: 23%;
    top: -22%;
  }
  75% {
    opacity: 1;
    left: 19%;
    top: -18%;
  }
  100% {
    opacity: 1;
    left: 14%;
    top: 28%;
  }
}

@keyframes item {
  0% {
    opacity: 1;
    top: 30%;
    left: 30%;
  }
  25% {
    opacity: 1;
    left: 26%;
    top: 0%;
  }
  50% {
    opacity: 1;
    left: 23%;
    top: -22%;
  }
  75% {
    opacity: 1;
    left: 19%;
    top: -18%;
  }
  100% {
    opacity: 1;
    left: 14%;
    top: 28%;
  }
}
.card:hover .buttons {
  opacity: 1;
}

.card:hover .weight {
  margin-top: 10px;
}

.card:hover {
  transform: scale(1.04);
  z-index: 2;
  overflow: hidden;
}

/*----------------------------------------------------------------------------------------------------------------*/
/*ABOUT US*/
/*----------------------------------------------------------------------------------------------------------------*/
/*FAQ*/
/*----------------------------------------------------------------------------------------------------------------*/
/*CONTACT*/
.contactFlex {
  display: flex;
  flex-direction: column;
}

/*----------------------------------------------------------------------------------------------------------------*/
/*FOOTER*/
.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}/*# sourceMappingURL=style.css.map */