@import 'variables';

*{
    margin: 0;
    padding: 0;
}

@import 'header';

/*----------------------------------------------------------------------------------------------------------------*/
/*GENERAL*/

section{

    background-color:#f3f3f3;
}

/*----------------------------------------------------------------------------------------------------------------*/
/*PRODUCTS*/

body{

    background: rgb(255, 255, 255);
}

.wrapper{

    margin-top: 30px;
}

.card{

    border:1px solid #eee;
    cursor: pointer;
}

.weight{

    margin-top: -65px; 
    transition: all 0.5s;  
}

.weight small{

    color: #b9b9b9;
}

.buttons {
    padding: 10px;
    background-color: #d6d4d44f;
    border-radius: 4px;
    position: relative;
    margin-top: 7px;
    opacity: 0;
    transition: all 0.8s;
}

.btn{

    background-color: rgb(25, 25, 25);
    border: none;
}

.btn:hover{

    background-color: rgb(109, 178, 189);
}

.btn:focus{

    background-color: rgb(52, 143, 146);
}


.dot {
    height: 14px;
    width: 14px;
    background-color: rgb(52, 143, 146);
    border-radius: 50%;
    position: absolute;
    left: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    color: #fff;
    opacity: 0;
}

.cart-button {
    height: 48px
}

.cart-button:focus {
    box-shadow: none
}

.cart {
    position: relative;
    height: 48px !important;
    width: 50px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 11px;
    border-radius: 5px;
    font-size: 14px;
    transition: 1s ease-in-out;
    overflow: hidden;

}

.cart-button.clicked span.dot {
    animation: item 0.3s ease-in forwards
}

@keyframes item {
    0% {
        opacity: 1;
        top: 30%;
        left: 30%
    }

    25% {
        opacity: 1;
        left: 26%;
        top: 0%
    }

    50% {
        opacity: 1;
        left: 23%;
        top: -22%
    }

    75% {
        opacity: 1;
        left: 19%;
        top: -18%
    }

    100% {
        opacity: 1;
        left: 14%;
        top: 28%
    }
}

.card:hover .buttons{

    opacity: 1;
}

.card:hover .weight{

     margin-top: 10px;
}

.card:hover{

    transform: scale(1.04);
    z-index: 2;
    overflow: hidden;
}

.row{

    justify-content: center;
    margin-top: 30px;
}
.card{

    max-width: 540px;
}

/*----------------------------------------------------------------------------------------------------------------*/
/*ABOUT US*/


/*----------------------------------------------------------------------------------------------------------------*/
/*CONTACT*/

.form{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-display{

    width: 60%; 
}

/*----------------------------------------------------------------------------------------------------------------*/
/*FAQ*/

.title{

    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: lighter;
    padding-top: 3%;
}

.subtitle{

    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: lighter;
    padding-top: 2.5%;
    padding-bottom: 3%;
}

.linksFAQ{

    text-decoration: none;
}
/*----------------------------------------------------------------------------------------------------------------*/
/*FOOTER*/

@import 'footer'